<% layout("/layouts/boilerplate") %>
<body>
  <h1>Create New Listing</h1>
  <form
    action="/listings"
    method="post"
    class="needs-validation"
    novalidate
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="title" class="form-label">Enter Title</label>
      <input
        type="text"
        id="title"
        name="listing[title]"
        placeholder="Enter the Title"
        class="form-control"
        required
      />

      <div class="valid-feedback">Title looks good</div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Enter Description</label>
      <textarea
        id="description"
        required
        name="listing[description]"
        placeholder="Enter description"
        cols="30"
        class="form-control"
        rows="10"
      ></textarea>

      <div class="invalid-feedback">Please add description</div>
    </div>

    <div class="mb-3">
      <label for="imagefile" class="form-label">Upload listing image</label>
      <input
        id="imagefile"
        type="file"
        name="listing[image]"
        class="form-control"
      />
    </div>
    <div class="row">
      <div class="mb-3 col-4">
        <label for="price" class="form-label">Enter Price</label>
        <input
          id="price"
          required
          name="listing[price]"
          placeholder="Enter Price"
          class="form-control"
        />

        <div class="invalid-feedback">Please enter a valid price</div>
      </div>

      <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Enter Country</label>
        <input
          id="country"
          required
          type="text"
          name="listing[country]"
          placeholder="Enter Country"
          class="form-control"
        />

        <div class="invalid-feedback">Enter the country!</div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Enter Location</label>
        <input
          id="location"
          type="text"
          required
          name="listing[location]"
          placeholder="Enter Location"
          class="form-control"
          <div
          class="invalid-feedback"
        />Enter the location
      </div>
    </div>
    <button class="btn btn-danger">Submit</button>

    <br /><br /><br />
  </form>
</body>
