<% layout("/layouts/boilerplate") %>
<body>
    <h1>Create New Listing</h1>
    <form action="/listing" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Enter Title</label>
            <input type="text" id="title" name="title" placeholder="Enter the Title" class="form-control"> <br>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Enter Description</label>
            <textarea id="description" name="description" placeholder="Enter description" cols="30" class="form-control" rows="10"></textarea><br>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Enter Image URL/link</label>
            <input id="image" type="text" name="image" placeholder="Enter url of your image" class="form-control"><br>
        </div>
        <div class="row">
            <div class="mb-3 col-4">
                <label for="price" class="form-label">Enter Price</label>
                <input id="price" type="number" name="price" placeholder="Enter Price" class="form-control" > <br>
            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Enter Country</label>
                <input id="country" type="text" name="country" placeholder="Enter Country" class="form-control"> <br>
            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Enter Location</label>
        <input id="location" type="text" name="location" placeholder="Enter Location" class="form-control"><br>
        </div>

        
        <button class="btn btn-danger">Submit</button>
        <br><br><br>
    </form>
</body>
